body {
  margin: 0px;
  font-family: fantasy;
}
.bg_img {
  background-image: url("bg_Img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.header_Finansial {
   /* padding: 10px; */
   /* position: relative;
   top: 30px; */
   /* padding-left: 30px; */
   font-size: 36px;
   color: aliceblue !important;
}
.log_sign {
   /* padding: 10px; */
   justify-content: end;
   display: flex;
  
}

.navHeader{
   display: flex;
   justify-content: space-between;
   padding-top: 32px;
   padding-left: 80px;
   padding-right: 80px;
   padding-bottom: 50px;
}

.letter1{
   padding: 10px;
   margin-top: -50px;
   color: aliceblue !important;
   font-size: larger;
}


.letter1:hover{
   color:rgb(102, 102, 244) !important;
   text-decoration: underline;
}
a{
   text-decoration: none;
}